[certsign]
username=xx
password=

[ms_sign]
username=xx@realteksemiconductorcorp.onmicrosoft.com
password=

[iflow]
username=xx
password=
11n=0.2
11ac=0.4
11ax=0.4

[email]
username=xx@realtek.com
password=

[BuildEnvironment]
tracefmt="C:\Program Files (x86)\Windows Kits\10\bin\10.0.19041.0\x64\tracefmt.exe"